.header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    gap: 20px;
}

.Logo_Container {
    border: solid 1px #000;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Logo > img {
    width: 100%;
    max-width: 135px;
    height: auto;
}

.Title_Logo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Title_Logo > img {
    width: 100%;
    max-width: 135px;
    height: auto;
}

.Search_Bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}